.big-icon {
    text-align: center;
    font-size: 69px;
    color: #3EC1D5;
    margin: 0;
    padding: 10px 0 0;
}
.decript h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #3EC1D5;
    font-weight: bold;
    font-family: monospace;
}
.dv p {
    text-align: center;
    padding: 10px 30px 50px;
    font-family: cursive;
}